* {
    font-family: 'Supermercado One', cursive;
}

a {
    text-decoration: none;
    
}

body {
    background-color: bisque;
    
}

/* NAVBAR */
#navbar {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 4px solid rgb(255, 255, 255);
    z-index: 10;
}

#navbar-itens-div {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 375px;
    height:  75px;
    margin-left: 1000px;
  
}

.nav-item-style {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 1000;
    padding: 24px 20px 27px 20px;
    

}

.nav-item-style:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#Contact {
    margin-right: 20px;
}

/* ABOUT */
#About-div {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 26%, rgba(255,255,255,1) 100%); 
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    left: 0; 
    right: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#about-title-text {
    font-size: 75px;
    color: white;
}

#about-subtitle-text {
    font-size: 40px;
    color: rgb(180, 180, 180);
}



#footer {
    margin-top: 10000px;
}