* {
    font-family: 'Supermercado One', cursive;
}

a {
    text-decoration: none;
}

#master-div {
    background-color: rgb(246, 195, 147);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

/* NAVBAR */
#navbar {
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 4px solid rgb(255, 255, 255);
    z-index: 10;
}

#navbar-itens-div {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 375px;
    height:  75px;
    margin-left: 1000px;
  
}

.nav-item-style {
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: 1000;
    padding: 24px 20px 27px 20px;
    

}

.nav-item-style:hover {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#Contact {
    margin-right: 20px;
}

/* ABOUT */
#About-div {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 26%, rgba(255,255,255,1) 100%); 
    position: absolute;
    width: 100%;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-title-text {
    font-size: 75px;
    color: white;
}

#about-subtitle-text {
    font-size: 40px;
    color: rgb(180, 180, 180);
}

/* PROJECTS */
#projects-div {
    background-color: rgb(228, 228, 228);
    position: absolute;
    display: flex;
    width: 100%;
    height: 1300px;
    justify-content: center;
    align-items: center;
    margin-top: 100vh;
    z-index: 2;
}

#projects-folder-div {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    width: 1300px;
    height: 1200px;
    grid-gap: 25px;
    
}

#project-title {
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}


.imgs {
    width: 416px;
    height: 400px;
    object-fit: cover;
}

.img-text {
    justify-content: center;
    width: 416px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-self: center;
    font-size: 30px;
    margin-top: -5px;
    background-color: rgb(182, 182, 182);
    color:black;
    border-top: 3px solid rgba(153, 153, 153, 0.657);
}

/* WORK */
#work-together-div-pos {
    background-color: rgb(211, 211, 211);
    position: absolute;
    width: 100%;
    height: 1000px;
    margin-top: 100vh;
    padding-top:  1100px ;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

#work-div-grid {
    margin-top: 200px;
    display: grid;
    width: 800px;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    align-items: center;
}

#work-title {
    margin-left: 155px;
    grid-column: 1/6;
    grid-row: 1/2;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#work-subtitle {
    margin-left: 155px;
    grid-column: 1/6;
    grid-row: 2/3;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color:rgb(0, 0, 0);   
}

.style-work {
    margin-left: 40px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
}


/* FOOTER */

#footer-div {
    position: absolute;
    width: 100%;
    height: 150px;
    margin-top: 100vh;
    padding-top: 2050px;
    display: flex;
}

#title-footer{
    display: inline;
    margin-top: 90px;
    margin-left: 300px;
    font-size: 30px;
    color: rgb(105, 105, 105);
}

#subtitle-footer {
    display: inline;
    margin-top: 100px;
    margin-left: 600px;
    font-size: 20px;
}